<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Adresse</title>
</head>
<body>
    <h1>Ajouter une Adresse</h1>
    <form method="post">
        {% csrf_token %}
        {{ adresse_form.as_p }}

        <h2>Informations sur la Ville</h2>
        <p>
            <label for="nom_ville">Nom de la Ville</label><br>
            <input type="text" id="nom_ville" name="nom_ville" required>
        </p>
        <p>
            <label for="code_postal">Code Postal</label><br>
            <input type="text" id="code_postal" name="code_postal" required>
        </p>
        <p>
            <label for="pays">Pays</label><br>
            <input type="text" id="pays" name="pays" required>
        </p>

        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
