<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'un livre</title>
</head>
<body>
<div class="button-container">
    <a href="{% url 'homepage' %}" class="button">Retour à l'Accueil</a>
</div>
<h1>Ajout d'un livre</h1>
<form method="post">
    {% csrf_token %}
    {{ livre_form.as_p }}
    
    <!-- Conteneur des auteurs -->
    <div id="auteurs-container">
        <h2>Auteurs</h2>
        <div class="auteur-container">
            <input type="text" name="nom_auteur" placeholder="Nom de l'auteur" />
            <input type="text" name="prenom_auteur" placeholder="Prénom de l'auteur" />
            <input type="date" name="date_naissance_auteur" placeholder="Date de naissance" />
        </div>
    </div>
    <button type="button" id="add-author-btn">Ajouter un auteur +</button>

    <!-- Conteneur des traducteurs -->
    <div id="traducteurs-container">
        <h2>Traducteurs</h2>
        <div class="traducteur-container">
            <input type="text" name="nom_traducteur" placeholder="Nom du traducteur" />
            <input type="text" name="prenom_traducteur" placeholder="Prénom du traducteur" />
            <input type="date" name="date_naissance_traducteur" placeholder="Date de naissance" />
        </div>
    </div>
    <button type="button" id="add-traducteur-btn">Ajouter un traducteur +</button>

    <!-- Conteneur des illustrateurs -->
    <div id="illustrateurs-container">
        <h2>Illustrateurs</h2>
        <div class="illustrateur-container">
            <input type="text" name="nom_illustrateur" placeholder="Nom de l'illustrateur" />
            <input type="text" name="prenom_illustrateur" placeholder="Prénom de l'illustrateur" />
            <input type="date" name="date_naissance_illustrateur" placeholder="Date de naissance" />
        </div>
    </div>
    <button type="button" id="add-illustrateur-btn">Ajouter un illustrateur +</button>
    <br>
    <button type="submit">Ajouter</button>
</form>

<script>
    // Ajouter un nouvel auteur
    document.getElementById('add-author-btn').addEventListener('click', function() {
        var newAuteurField = document.createElement('div');
        newAuteurField.classList.add('auteur-container');
        newAuteurField.innerHTML = '<input type="text" name="nom_auteur" placeholder="Nom de l\'auteur" />' +
                                  '<input type="text" name="prenom_auteur" placeholder="Prénom de l\'auteur" />' +
                                  '<input type="date" name="date_naissance_auteur" placeholder="Date de naissance" />';
        document.getElementById('auteurs-container').appendChild(newAuteurField);
    });

    // Ajouter un nouveau traducteur
    document.getElementById('add-traducteur-btn').addEventListener('click', function() {
        var newTraducteurField = document.createElement('div');
        newTraducteurField.classList.add('traducteur-container');
        newTraducteurField.innerHTML = '<input type="text" name="nom_traducteur" placeholder="Nom du traducteur" />' +
                                      '<input type="text" name="prenom_traducteur" placeholder="Prénom du traducteur" />' +
                                      '<input type="date" name="date_naissance_traducteur" placeholder="Date de naissance" />';
        document.getElementById('traducteurs-container').appendChild(newTraducteurField);
    });

    // Ajouter un nouvel illustrateur
    document.getElementById('add-illustrateur-btn').addEventListener('click', function() {
        var newIllustrateurField = document.createElement('div');
        newIllustrateurField.classList.add('illustrateur-container');
        newIllustrateurField.innerHTML = '<input type="text" name="nom_illustrateur" placeholder="Nom de l\'illustrateur" />' +
                                        '<input type="text" name="prenom_illustrateur" placeholder="Prénom de l\'illustrateur" />' +
                                        '<input type="date" name="date_naissance_illustrateur" placeholder="Date de naissance" />';
        document.getElementById('illustrateurs-container').appendChild(newIllustrateurField);
    });
</script>
</body>
</html>
