<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des traducteurs</title>
</head>
<body>
<div class="button-container">
    <a href="{% url 'homepage' %}" class="button">Retour à l'Accueil</a>
</div>
    <h1>Liste des traducteurs</h1>
    <a href="/traducteurs/create/"><button>Ajouter un traducteur</button></a>
    <a href="/traducteurs/saisir_traducteur_ID/"><button>Modifier un traducteur</button></a>
    <a href="/traducteurs/delete/"><button>Supprimer un traducteur</button></a>

    <form method="GET" action="{% url 'traducteurs_research' %}">
        <label for="search">Rechercher :</label>
        <input type="text" id="search" name="search" value="{{ request.GET.search }}">
        <button type="submit">Rechercher</button    >
    </form>
    <table border="1">
        <thead>
            <tr>
                <th><a href="?sort_by=id&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">ID</a></th>
                <th><a href="?sort_by=nom&order={% if request.GET.sort_by == 'nom' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Nom</a></th>
                <th><a href="?sort_by=prenom&order={% if request.GET.sort_by == 'prenom' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Prénom</a></th>
                <th><a href="?sort_by=date_naissance&order={% if request.GET.sort_by == 'date_naissance' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Date de Naissance</a></th>
            </tr>
        </thead>
        <tbody>
            {% for traducteur in object_list %}
                <tr>
                    <td>{{ traducteur.id }}</td>
                    <td>{{ traducteur.nom }}</td>
                    <td>{{ traducteur.prenom }}</td>
                    <td>{{ traducteur.date_naissance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
