<!-- gui/templates/gui/lister_fournisseurs.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Liste des Fournisseurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Liste des Fournisseurs</h2>
    <a href="{% url 'fournisseur_create' %}" class="btn btn-primary mb-3">Ajouter un Fournisseur</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.nom_fournisseur }}</td>
                    <td>
                        {% for adresse in fournisseur.adresses.all %}
                            {{ adresse }}<br>
                        {% empty %}
                            Aucune adresse
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'fournisseurs_update' fournisseur.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{% url 'fournisseur_delete' fournisseur.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
