<!DOCTYPE html>
<html>
<head>
    <title>Liste des Fournisseurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Liste des Fournisseurs</h2>
    <a href="{% url 'fournisseur_create' %}" class="btn btn-primary mb-3">Ajouter un Fournisseur</a>

    <!-- Formulaire de recherche -->
    <form method="GET" action="" class="form-inline mb-3">
        <div class="form-group mr-2">
            <input type="text" name="search" class="form-control" placeholder="Rechercher..." value="{{ request.GET.search }}">
        </div>
        <!-- Inclure les paramètres de tri existants -->
        {% if request.GET.sort_by %}
            <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
        {% endif %}
        {% if request.GET.order %}
            <input type="hidden" name="order" value="{{ request.GET.order }}">
        {% endif %}
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a href="?{% if request.GET.search %}search={{ request.GET.search }}&amp;{% endif %}sort_by=nom_fournisseur&amp;order={% if request.GET.sort_by == 'nom_fournisseur' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Nom
                    </a>
                </th>
                <th>Adresses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.nom_fournisseur }}</td>
                    <td>
                        {% for adresse in fournisseur.adresses.all %}
                            {{ adresse }}<br>
                        {% empty %}
                            Aucune adresse
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'fournisseurs_update' fournisseur.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{% url 'fournisseur_delete' fournisseur.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Aucun fournisseur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
