<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue des livres</title>
</head>
<body>
<div class="button-container">
    <a href="{% url 'homepage' %}" class="button">Retour à l'Accueil</a>
</div>
    <h1>Liste des adresses</h1>

    <a href="/adresses/create/"><button>Ajouter une adresse</button></a>
    <a href="/adresses/delete/"><button>Supprimer une adresse</button></a>

    <form method="GET" action="{% url 'adresses_research' %}">
        <label for="search">Rechercher :</label>
        <input type="text" id="search" name="search"  value="{{ request.GET.search }}">
        <button type="submit">Rechercher</button>
    </form>    

    <table border="1">
        <thead>
            <tr>
                <th>
                    <a href="?sort_by=id&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        ID
                    </a>
                </th>
                 <th>
                    <a href="?sort_by=rue&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Rue
                    </a>
                </th>
                <th>
                    <a href="?sort_by=n_rue&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Numéro de Rue
                    </a>
                </th>
                <th>
                    <a href="?sort_by=ville&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Ville
                    </a>
                </th>
                <th>
                    <a href="?sort_by=ville_code_postal&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Code Postal
                    </a>
                </th>
                <th>
                    <a href="?sort_by=ville_pays&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">
                        Pays
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for adresse in object_list %}
                <tr>
                    <td>{{ adresse.id }}</td>
                    <td>{{ adresse.rue }}</td>
                    <td>{{ adresse.n_rue }}</td>
                    <td>{{ adresse.ville }}</td>
                    <td>{{ adresse.ville.code_postal }}</td>
                    <td>{{ adresse.ville.pays }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>