<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue des livres</title>
</head>
<body>
<div class="button-container">
    <a href="{% url 'homepage' %}" class="button">Retour à l'Accueil</a>
</div>
    <h1>Catalogue des livres</h1>

    <a href="/livres/create/"><button>Ajouter un livre</button></a>
    <a href="/livres/saisir_isbn/"><button>Modifier un livre</button></a>
    <a href="{% url 'livres_delete' %}"><button>Supprimer un livre</button></a>

    <form method="GET" action="{% url 'livres_research' %}">
        <label for="search">Rechercher :</label>
        <input type="text" id="search" name="search" placeholder="Titre, Auteur, ISBN..." value="{{ request.GET.search }}">
        <button type="submit">Rechercher</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th><a href="?sort_by=isbn13&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">ISBN13</a></th>
                <th><a href="?sort_by=titre&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Titre</a></th>
                <th><a href="?sort_by=auteur_nom&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Nom de l'Auteur</a></th>
                <th><a href="?sort_by=type&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Type</a></th>
                <th><a href="?sort_by=genre_litteraire&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Genre Littéraire</a></th>
                <th><a href="?sort_by=sous_genre&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Sous Genre</a></th>
                <th><a href="?sort_by=illustrateur&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Illustrateur</a></th>
                <th><a href="?sort_by=langue&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Langue</a></th>
                <th><a href="?sort_by=format&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Format</a></th>
                <th>Nombre de Pages</th>
                <th>Dimensions</th>
                <th><a href="?sort_by=date_parution&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Date de Parution</a></th>
                <th><a href="?sort_by=localisation&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Localisation</a></th>
                <th>Synopsis</th>
                <th><a href="?sort_by=prix&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Prix</a></th>
                <th>URL de Référence</th>
                <th>Traducteur</th>
                <th>Quantité Disponible</th>
                <th>Quantité Totale</th>
                <th>Quantité Minimale</th>
                <th><a href="?sort_by=editeur&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Éditeur</a></th>
            </tr>
        </thead>
        <tbody>
            {% for livre in object_list %}
                <tr>
                    <td>{{ livre.isbn13 }}</td>
                    <td>{{ livre.titre }}</td>
                    <td>
                        {% if livre.ecrire_set.all %}
                            {% for ecriture in livre.ecrire_set.all %}
                                <p><strong>Nom :</strong> {{ ecriture.auteur.nom }}</p>
                                <p><strong>Prénom :</strong> {{ ecriture.auteur.prenom }}</p>
                                <p><strong>Date de naissance :</strong> {{ ecriture.auteur.date_naissance }}</p>
                            {% endfor %}
                        {% else %}
                            Aucun auteur
                        {% endif %}
                    </td>
                    <td>{{ livre.type }}</td>
                    <td>{{ livre.genre_litteraire }}</td>
                    <td>{{ livre.sous_genre }}</td>
                    <td>{{ livre.illustrateur }}</td>
                    <td>{{ livre.langue }}</td>
                    <td>{{ livre.format }}</td>
                    <td>{{ livre.nombre_pages }}</td>
                    <td>{{ livre.dimensions }}</td>
                    <td>{{ livre.date_parution }}</td>
                    <td>{{ livre.localisation }}</td>
                    <td>{{ livre.synopsis }}</td>
                    <td>{{ livre.prix }}</td>
                    <td>{{ livre.url_reference }}</td>
                    <td>{{ livre.traducteur }}</td>
                    <td>{{ livre.quantite_disponible }}</td>
                    <td>{{ livre.quantite_totale }}</td>
                    <td>{{ livre.quantite_minimale }}</td>
                    <td>{{ livre.editeur }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>