<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Personnes</title>
</head>
<body>

<div class="button-container">
    <a href="{% url 'homepage' %}" class="button">Retour à l'Accueil</a>
</div>

 <h1>Liste des personnes</h1>
    <a href="/personnes/create/"><button>Ajouter une personne</button></a>
    <a href="{% url 'personnes_delete' %}"><button>Supprimer une personne</button></a>
    <a href="{% url 'personnes_select' %}"><button>Modifier une personne</button></a>
    <form method="GET" action="{% url 'personnes_research' %}">
            <label for="search">Rechercher :</label>
            <input type="text" id="search" name="search"  value="{{ request.GET.search }}">
            <button type="submit">Rechercher</button>
    </form>
    <table border="1">
        <thead>
            <tr>
               <th><a href="?sort_by=nom&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Nom</a></th>   
                <th><a href="?sort_by=prenom&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Prénom</a></th>
                <th><a href="?sort_by=date_naissance&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Date de naissance</a></th>
                <th>Téléphone</th>
                <th><a href="?sort_by=email&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Email</a></th>
                <th><a href="?sort_by=date_creation&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Date d'inscription</a></th>
                <th><a href="?sort_by=solde&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Solde</a></th>
                <th><a href="?sort_by=role&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Role</a></th>
                <th><a href="?sort_by=adresse__ville__om_ville&order={% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}desc{% else %}asc{% endif %}">Adresse</a></th>
            </tr>
        </thead>
        <tbody>
            {% for personne in object_list %}
                <tr>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.date_naissance }}</td>
                    <td>{{ personne.telephone }}</td>
                    <td>{{ personne.email }}</td>
                    <td>{{ personne.date_creation }}</td>
                    <td>{{ personne.solde }}</td>
                    <td>{{ personne.role }}</td>
                    <td>
                        {{ personne.adresse.n_rue }} {{ personne.adresse.rue }}, 
                        {{ personne.adresse.ville.nom_ville }}, 
                        {{ personne.adresse.ville.code_postal }}, 
                        {{ personne.adresse.ville.pays }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
