<!-- gui/templates/gui/modifier_fournisseur.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Modifier Fournisseur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Modifier le Fournisseur</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nom_fournisseur.label_tag }}
            {{ form.nom_fournisseur }}
        </div>
        <hr>
        <h4>Adresses</h4>
        {{ adresse_formset.management_form }}
        <div id="adresse-formset">
            {% for form in adresse_formset %}
                <div class="form-row align-items-end adresse-form">
                    <div class="col-md-5">
                        {{ form.rue.label_tag }}
                        {{ form.rue }}
                    </div>
                    <div class="col-md-3">
                        {{ form.n_rue.label_tag }}
                        {{ form.n_rue }}
                    </div>
                    <div class="col-md-2">
                        <span class="remove-form">&times;</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary mt-3" id="add-adresse">Ajouter une autre adresse</button>
        <hr>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>

<!-- Template pour une nouvelle adresse -->
<div id="empty-form" style="display: none;">
    <div class="form-row align-items-end adresse-form">
        <div class="col-md-5">
            <label for="id_form-__prefix__-rue">Rue :</label>
            <input type="text" name="form-__prefix__-rue" class="form-control" id="id_form-__prefix__-rue">
        </div>
        <div class="col-md-3">
            <label for="id_form-__prefix__-n_rue">Numéro :</label>
            <input type="number" name="form-__prefix__-n_rue" class="form-control" id="id_form-__prefix__-n_rue">
        </div>
        <div class="col-md-2">
            <span class="remove-form">&times;</span>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        let formIdx = {{ adresse_formset.total_form_count }};
        
        $('#add-adresse').click(function(){
            let newForm = $('#empty-form').html().replace(/__prefix__/g, formIdx);
            $('#adresse-formset').append(newForm);
            formIdx++;
        });
        
        // Supprimer une adresse
        $('#adresse-formset').on('click', '.remove-form', function(){
            $(this).closest('.adresse-form').remove();
        });
    });
</script>
</body>
</html>
