<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     {% include 'gui/navbar.html' %}
    <h1>Modification d'un achat</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Valider</button>
        <a href="{% url 'achats_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
    {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
    {% endif %}
</body>
</html>