<!-- gui/templates/gui/saisir_fournisseur_ID.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Saisir ID Fournisseur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Saisir le Nom du Fournisseur</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.nom_fournisseur.label_tag }}
        {{ form.nom_fournisseur }}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
    </form>
</div>
</body>
</html>
